<div class="uploadInterfaceStep2">
  <div class="uploadInterfaceStepper">
    <div class="uploadInterfaceStep step1">
      <img src="assets/StepDoneIcon.svg">
      <p class="step1-text">Importer le fichier</p>
    </div>
    <div class="uploadInterfaceStep step2">
      <img src="assets/Step2Icon.png">
      <p class="step2-text">Ajouter les informations liées au fichier</p>
    </div>
  </div>
  <div class="contentForm">
    <div class="input-group">
      <label class="contentForm-label" for="description">
        <span>Description</span>
        <span class="optional"> (facultatif)</span>
      </label>
      <textarea id="description" name="description" class="contentForm-input" *ngIf="fileObject" [(ngModel)]="fileObject.description" (ngModelChange)="fileObjectChange.emit(fileObject)"></textarea>
    </div>
    <div class="row-grp">
      <div class="input-group">
        <label class="contentForm-label" for="description">
          Version
        </label>
        <select id="version" name="version" class="contentForm-input" *ngIf="fileObject" [(ngModel)]="fileObject.version" (ngModelChange)="fileObjectChange.emit(fileObject)">
          <option value="VF" selected >VF</option>
          <option value="VA">VA</option>
        </select>
      </div>
      <div class="input-group">
        <label class="contentForm-label" for="description">
          Statut
        </label>
        <select id="state" name="state" class="contentForm-input" *ngIf="fileObject" [(ngModel)]="fileObject.state" (ngModelChange)="fileObjectChange.emit(fileObject)">
          <option value="PUBLISHED" selected>Publié</option>
          <option value="PLANNED">Planifié</option>
          <option value="UNPUBLISHED">Non publié</option>
          <option value="PENDING">En attente</option>
        </select>
      </div>
    </div>
  </div>
</div>
