<div class="uploadInterfaceStep2-bg">
  <div class="uploadInterfaceStep2">
    <div class="uploadInterfaceStep2-header">
      <p class="uploadInterfaceStep2-header-title">{{text}}</p>
      <div class="closeInterface-icon" (click)="handelCloseInterfaceClick()">
        <img src="assets/XIcon.svg" class="svg-icon" >
      </div>
    </div>
    <div class="uploadInterfaceStepper">
      <div class="uploadInterfaceStep step1">
        <img src="../../../../assets/CurrentStepIcon.png">
        <p class="step1-text">Importer le fichier</p>
      </div>
      <div class="uploadInterfaceStep step2">
        <img src="assets/IncompleteStepIcon.svg">
        <p class="step2-text">Ajouter les informations liées au fichier</p>
      </div>
    </div>
  </div>
</div>
