<div class="keywords-selector-component">
  <div class="keywords-selector">
    <div class="selected-keywords">
      <div class="keywords" *ngFor="let tag of selectedKeywords">
        <p class="keyword-text">{{tag}}</p>
        <div class="keyword-icon" (click)="removeKeyword(tag)">
          <img src="assets/XIcon.svg" />
        </div>
      </div>
    </div>
    <div class="show-keywords-icon" (click)="handleShowKeywords()" [ngClass]="{'rotate':showKeywords}">
      <img src="assets/ArrowLineDown.svg" />
    </div>
  </div>
  <div class="keyword-list" *ngIf="showKeywords">
    <div *ngFor="let tag of keywords" class="keywords">
      <div class="keyword-list-checkBox" (click)="addKeyword(tag)" [ngClass]="isChecked(tag)">
        <img src="assets/Check.svg" />
      </div>
      <p class="keyword-list-text">{{tag}}</p>
    </div>
  </div>
</div>
