<div class="table-list">
  <div class="table-list-head" *ngIf="tableListTitle!==''">
    <p class="table-list-text">{{tableListTitle}}</p>
  </div>
  <div class="table-list-body">
    <div class="table-list-columns" *ngIf="columns.length!==0">
      <div class="table-list-columns-thead" *ngFor="let column of columns" [style.width]="100/columns.length+'%'">
        <p class="table-list-text">{{ column === 'isActive'? 'Statut' : column==='icon' ? '' : column | uppercase}}</p>
      </div>
    </div>
    <hr class="horizontal-line">
    <div class="table-list-tr" *ngFor="let item of data">
      <div class="table-list-columns body" >
        <div class="table-list-columns-tbody-td" *ngFor="let column of columns" [style.width]="100/columns.length+'%'">
          <p class="table-list-text" *ngIf="column!=='isActive'">{{item[column]}}</p>
          <div class="table-list-tag-box" *ngIf="column==='isActive'" [ngClass]="{'active':item[column],'inactive':!item[column] }">
            <p class="table-list-text" [ngClass]="{'active':item[column],'inactive':!item[column] }">
              {{item[column]?'Activé':'Désactivé'}}
            </p>
          </div>
          <div class="table-list-icon" *ngIf="column==='icon'">
            <img [src]="getCategoryIconUrl(item.id)">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
