<div class="uploadInterfaceStep1" [ngClass]="{'uploaded':selectedFile}">
  <div class="uploadInterfaceStepper">
    <div class="uploadInterfaceStep step1">
      <img src="../../../../assets/Step1Icon.png">
      <p class="step1-text">Importer le fichier</p>
    </div>
    <div class="uploadInterfaceStep step2">
      <img src="assets/IncompleteStepIcon.svg">
      <p class="step2-text">Ajouter les informations liées au fichier</p>
    </div>
  </div>
  <div class="uploadInterface-Body" (click)="handleSelectFile()">
    <img src="assets/FileArrowDown.svg">
    <div class="uploadInterfaceBody-txt">
      <span class="uploadInterfaceBody-txt1">
        <span class="uploadInterfaceBody-txt1-1">Cliquez pour télécharger</span>
        <span class="uploadInterfaceBody-txt1-2"> ou faites glisser et déposez.</span>
      </span>
      <input type="file" class="upload-input" (change)="handleUploadInput($event)" #uploadInput [accept]="getAllowedTypes().join(', ')"/>
      <span class="uploadInterfaceBody-txt2">
        <span>Taille de fichier maximale 50 Mo.</span>
      </span>
    </div>
  </div>
  <div *ngIf="selectedFile">
    <app-upload-progress [fileContent]="selectedFile" (removeFile)="handleRemoveFile($event)"></app-upload-progress>
  </div>
</div>
