<div class="videoLayout">
  <div class="videoLayout-header">
    <app-page-title title="Web / Images"></app-page-title>
    <app-upload-btn (fileUploaded)="onFileUploaded()" text="Importer un fichier" fileType="VIDEO"></app-upload-btn>
  </div>
  <div class="videoLayout-Body">
    <div class="videoLayout-Body-title">
      <p>Fichiers</p>
    </div>
    <div class="videoLayout-Body-card" *ngIf="fileObjects$ | async as fileObjects">
      <app-file-card  *ngFor="let fileObject of fileObjects" [fileObject]="fileObject" ></app-file-card>
    </div>
  </div>
</div>
