<div class="imageDetails-interface-bg" *ngIf="fileObject">
  <div class="image-displayer">
    <div class="image-displayer-header">
      <div class="displayer-icon">
        <img src="assets/PaperPlaneTilt.svg" class="svg-icon" >
      </div>
      <div class="displayer-icon">
        <img src="assets/Link.svg" class="svg-icon" >
      </div>
      <div class="displayer-icon">
        <a [href]="'http://' + hostname + ':8100/files/object/' + fileObject.id || ''" download>
          <img src="assets/Download.svg" class="svg-icon" >
        </a>
      </div>
      <div class="displayer-icon">
        <img src="assets/CopySimple.svg" class="svg-icon" >
      </div>
    </div>
    <div class="image-displayer-body" #imageContainer>
      <img [src]="'http://' + hostname + ':8100/files/object/' + fileObject.id || ''" [style.transform]="'scale(' + scaleValue + ')'">
    </div>
    <div class="image-displayer-footer">
      <div class="displayer-icon footer-left" (click)="scaleImage('up')">
        <img src="assets/PlusSign.svg" class="svg-icon" >
      </div>
      <div class="displayer-icon footer-center" (click)="scaleImage('original')">
        <img src="assets/MagnifyingGlass.svg" class="svg-icon" >
      </div>
      <div class="displayer-icon footer-right" (click)="scaleImage('down')">
        <img src="assets/MinusSign.svg" class="svg-icon" >
      </div>
    </div>
  </div>
  <div class="file-details-bar">
    <app-file-details-bar [fileObject]="fileObject"></app-file-details-bar>
  </div>

</div>
