<div class="uploadInterface-bg"
     [ngClass]="{'showInterface':showInterface,'uploaded':selectedFile}">
  <!--<div class="uploadInterface-bg showInterface" >-->
  <div class="uploadInterface">
    <div class="uploadInterface-header">
      <p class="uploadInterface-header-title">{{text}}</p>
      <div class="closeInterface-icon" (click)="handelCloseInterfaceClick()">
        <img src="assets/XIcon.svg" class="svg-icon" >
      </div>
    </div>
    <app-upload-interface-step1 [selectedFile]="selectedFile" (fileEvent)="handleFileEvent($event)"></app-upload-interface-step1>
    <div class="uploadInterface-footer">
      <button class="uploadInterfaceFooter-btn cancelBtn" (click)="handelCloseInterfaceClick()">
        <img src="assets/Close.svg">
        <p class="uploadInterfaceFooter-txt cancelTxt">Annuler</p>
      </button>
      <button class="uploadInterfaceFooter-btn nextBtn" (click)="handleUploadFile()">
        <p class="uploadInterfaceFooter-txt nextTxt">Suivant</p>
        <img src="assets/TrailingIcon.svg">
      </button>
    </div>
  </div>
</div>
