.editInterface-bg{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  display: none;
  background-color: rgba(11, 40, 102,0.8) ;
  align-items: center;
  justify-content: center;
}
.showEditInterface{
  display: flex;
}
.editInterface{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  gap: 25px;
  background: #FFFFFF;
  box-shadow: 0px 48px 64px -36px rgba(24, 24, 28, 0.13), 0px 24px 48px -8px rgba(24, 24, 28, 0.11);
  border-radius: 12px;
}
.editInterface form{
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.editInterface-txt{
  font-family: 'Inter';
  font-style: normal;
  color: #0B2866;
}
.editInterface-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header-txt{
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}
.editInterface-header-icon{
  height: 40px;
  width: 40px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.editInterface-header-icon:hover{
  cursor: pointer;
  background-color: #D7E3FC;
}


.editInterface-body{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 25px;
}
.editInterface-body-file{
  width: 221px;
  height: 221px;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #ECEFF1;
}
.image-file{
  height: 100%;
  width: 100%;
}
.image-file img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.video-file{
  height: 100%;
  width: 100%;
}
.pictos-file {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.pictos-file img{
  height: 110px;
  width: 110px;
}
.editInterface-body-content{
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 400px;
}
.input-group{
  display: flex;
  flex-direction: column;
  gap: 6px;
  max-width: 100%;
}
.contentForm-label{
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.1px;
}
.contentForm-label .subtxt{
  color: #8D9CAD;
  font-weight: 400;
}
.contentForm-input{
  font-family: 'Inter';
  font-style: normal;
  color: #0B2866;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 8px 16px;
  border: 1px solid #C6CED6;
  border-radius: 4px;
}
.row-grp{
  display: flex;
  flex-direction: row;
  gap: 10px;
}
#description{
  height: 104px;
}
input{
  height: 40px;
}
.select-input{
  width: 50%;
}



.editInterface-footer{
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap:10px;
  width: 100%;
}

.editInterface-footer-btn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;
  height: 40px;
  box-shadow: 0px 4px 4px -4px rgba(24, 24, 28, 0.02), 0px 1px 2px rgba(24, 24, 28, 0.06);
  border-radius: 5px;
  gap: 8px;
  background: #105DFB;
  border: none;
}
.editInterface-footer-btn:hover{
  cursor: pointer;
  background: #1650CF;
}
.cancelBtn{
  background: #FFFFFF;
  border: 1px solid #105DFB;
}
.cancelBtn:hover{
  cursor: pointer;
  background: #1650CF;
  border: 1px solid #1650CF;
}
.cancelBtn:hover .cancelTxt{
  color: #FFFFFF;
}
.editInterface-footer-txt{
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.1px;
  color: #FFFFFF;
}
.cancelTxt{
  color: #105DFB;
}

