<div class="document-viewer">
  <div class="viewer">
    <pdf-viewer
      [src]="fileUrl"
      [show-all]="true"
      [stick-to-page]="true"
      [render-text]="true"
      [original-size]="false"
      [fit-to-page]="true"
      [autoresize]="true"
      [show-borders]="false"
      [zoom]="zoom"
      style="width: 100%;height: 100vh;"
    ></pdf-viewer>
  </div>
  <div class="document-viewer-control">
    <div class="viewer-action zoomIn-action" (click)="setZoom('in')">
      <img src="assets/PlusSign.svg" class="svg-icon">
    </div>
    <div class="viewer-action zoomReset-action" (click)="setZoom('reset')">
      <img src="assets/MagnifyingGlass.svg" class="svg-icon">
    </div>
    <div class="viewer-action zoomOut-action" (click)="setZoom('out')">
      <img src="assets/MinusSign.svg" class="svg-icon">
    </div>
  </div>
</div>
