.fileDetails-layout-bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #222124;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}

.showFileDetails {
  display: flex;
}

.file-displayer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 35px;
  width: 75%;
  height: 100vh;
}

.displayer-header{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.displayer-body {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.displayer-header a,
.displayer-action {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #404040;
  height: 40px;
  width: 40px;
  border-radius: 5px;
  z-index: 3;
  user-select: none;
}

.displayer-action:hover {
  cursor: pointer;
  background-color: #5A5C60;
}

.displayer-body img {
  position: relative;
  max-height: 80%;
  max-width: 80%;
  z-index: 2;
  object-fit: cover;
  transition: 0.3s all ease;
  transition-delay: 0.05s;
}

.displayer-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
}
.footer-center {
  border-radius: 0 !important;
}

.footer-right {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.footer-left {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.file-details-bar{
  max-width: 25%;
  z-index: 3;
}
