<div class="fileDetails-layout-bg" *ngIf="fileObject">
  <div class="file-displayer">
    <div class="displayer-header">
<!--          In Progress-->
<!--      <div class="displayer-action">-->
<!--        <img src="assets/PaperPlaneTilt.svg" class="svg-icon">-->
<!--      </div>-->
<!--      <div class="displayer-action">-->
<!--        <img src="assets/Link.svg" class="svg-icon">-->
<!--      </div>-->
      <a [href]="fileUrl" download>
        <div class="displayer-action">
          <img src="assets/Download.svg" class="svg-icon">
        </div>
      </a>
      <div class="displayer-action" (click)="handleCopyFile()" *ngIf="fileObject.type=='IMAGE' || fileObject.type=='PICTOGRAM'">
        <img src="assets/CopySimple.svg" class="svg-icon">
      </div>
    </div>
    <div class="displayer-body" #fileContainer >
      <div class="displayer-action previous-next-icon" (click)="handlePreviousNext('previous')">
        <img src="assets/ArrowLineLeft.svg">
      </div>
      <div class="image-wrapper" *ngIf="fileObject.type=='IMAGE'">
        <img [src]="fileUrl" [style.transform]="'scale(' + scaleValue + ')'">
      </div>
      <div class="video-wrapper" *ngIf="fileObject.type=='VIDEO'">
        <app-video-player [fileUrl]="fileUrl"></app-video-player>
      </div>
      <div class="document-wrapper" *ngIf="fileObject.type=='DOCUMENT' && getFileExtension()==='pdf'">
        <app-document-viewer [fileUrl]="fileUrl"></app-document-viewer>
      </div>
      <div class="preview-unavailable-wrapper" *ngIf="fileObject.type=='DOCUMENT' && getFileExtension()!=='pdf'">
        <app-preview-unavailable [fileUrl]="fileUrl"></app-preview-unavailable>
      </div>
      <div class="pictos-wrapper" *ngIf="fileObject.type=='PICTOGRAM'">
        <img [src]="fileUrl">
      </div>
      <div class="displayer-action previous-next-icon" (click)="handlePreviousNext('next')">
        <img src="assets/ArrowLineRight3.svg">
      </div>
    </div>
    <div class="displayer-footer" *ngIf="fileObject.type=='IMAGE'">
      <div class="displayer-action footer-left" (click)="scaleFile('up')">
        <img src="assets/PlusSign.svg" class="svg-icon">
      </div>
      <div class="displayer-action footer-center" (click)="scaleFile('original')">
        <img src="assets/MagnifyingGlass.svg" class="svg-icon">
      </div>
      <div class="displayer-action footer-right" (click)="scaleFile('down')">
        <img src="assets/MinusSign.svg" class="svg-icon">
      </div>
    </div>
  </div>
  <div class="file-details-bar">
    <app-file-details-bar [fileObject]="fileObject"></app-file-details-bar>
  </div>
</div>
