<div class="file-document-card">
  <div class="file-document word-document" *ngIf="fileExtension==='docx'">
    <img src="assets/FileDoc2.svg">
  </div>
  <div class="file-document exel-document" *ngIf="fileExtension==='xlsx'">
    <img src="assets/FileXls.svg">
  </div>
  <div class="file-document pdf-document" *ngIf="fileExtension==='pdf'">
    <img src="assets/FilePdf.svg" >
<!--    <pdf-viewer-->
<!--      [src]="fileUrl"-->
<!--      [show-all]="false"-->
<!--      [stick-to-page]="true"-->
<!--      [render-text]="true"-->
<!--      [original-size]="false"-->
<!--      [fit-to-page]="true"-->
<!--      [autoresize]="true"-->
<!--      style="width: 100%;height: 100%;overflow: hidden;"-->
<!--    ></pdf-viewer>-->
  </div>
  <div class="file-document ppt-document" *ngIf="fileExtension==='pptx'">
    <img src="assets/FilePpt.svg">
  </div>
</div>
