<div class="bg"></div>
<div class="loginLayout">
  <div class="login-form">
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)"  >
      <img src="assets/logo.svg" alt="" class="form-logo">
      <p class="form-title">Bienvenue sur votre espace<br> de gestion de contenue multimédia !</p>
      <div class="input-group">
        <label for="password" class="form-label" >Mot de passe</label>
        <input id="password" type="password" name="password" [(ngModel)]="updatePasswordObject.newPassword"  required/>
        <p *ngIf="updatePasswordObject.newPassword!='' && !validatePassword(updatePasswordObject.newPassword)" class="pwd-not-valid">Le mot de passe doit comporter au moins 8 caractères avec une lettre majuscule et un chiffre</p>
      </div>
      <div class="input-group">
        <label for="confirm-password" class="form-label" >Confirmer le mot de passe</label>
        <input id="confirm-password" type="password" name="password" [(ngModel)]="confirmPassword"  required/>
        <p *ngIf="validatePassword(updatePasswordObject.newPassword) && updatePasswordObject.newPassword!==confirmPassword" class="pwd-not-valid">Le mot de passe ne correspond pas à la confirmation du mot de passe</p>
      </div>
      <button type="submit" [disabled]="isBtnDisabled()">Réinitialiser mon mot de passe</button>
    </form>
  </div>
  <div class="login-image">
    <div class="login-image-content">
    </div>
  </div>
</div>
