<div class="sidebarLayout">
  <div class="sidebarHeader">
    <img src="assets/logo.svg" alt="" class="sidebar-logo">
  </div>
  <div class="sidebarBody ">
    <ng-container *ngFor="let item of sidebarItems">
      <app-sidebar-button [content]="item.content" [hasChildren]="item.hasChildren">
        <ng-container *ngFor="let child of item.children">
          <app-sidebar-button [content]="child.content" [isChild]="true"></app-sidebar-button>
        </ng-container>
      </app-sidebar-button>
    </ng-container>
    <h1 class="sidebarBody-title">Gestion</h1>
    <app-sidebar-button [content]="userManagement"></app-sidebar-button>
    <app-sidebar-button [content]="rolesManagement"></app-sidebar-button>
  </div>
  <div class="sidebarFooter">
    <div class="sidebarFooter-user" (click)="logOut()">
      <img src="assets/userLogo.svg" alt="" class="sidebar-userLogo">
      <p class="sidebar-username">{{getUserFullName() | titlecase}}</p>
      <img src="assets/ArrowLineRight.svg" alt="" class="sidebar-arrowLine">
    </div>
  </div>
</div>
