.add-role-interface{
  display: flex;
  flex-direction: column;
  gap: 50px;
  overflow: hidden;
  margin: 0px 50px 0px 261px;
}
.add-role-interface-header{
  display: flex;
  justify-content: space-between;
}
.add-role-interface-txt{
  font-family: 'Inter';
  font-style: normal;
  color: #0B2866;
}
.add-role-interface-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 30px;
  gap: 25px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px -4px rgba(24, 24, 28, 0.02), 0px 1px 2px rgba(24, 24, 28, 0.06);
  border-radius: 8px;
}
.row-grp {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 50px;
}
.col-grp{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 25px;
}
.input-group{
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
}
.contentForm-label{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.1px;
  color: #0B2866;
}
.contentForm-label .subtxt{
  color: #8D9CAD;
  font-weight: 400;
}
.contentForm-input{
  font-family: 'Inter';
  color: #0B2866;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 8px 16px;
  isolation: isolate;
  background: #FFFFFF;
  border: 1px solid #C6CED6;
  border-radius: 4px;
}
#description{
  height: 104px;
}
.switch-input{
  height: 100%;
  display: flex;
  align-items: center;
}
.switch-input-grp{
  display: flex;
  flex-direction: row;
}
.switch-input-grp .contentForm-label{
  font-weight: 500;
}
.add-role-interface-buttons{
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap:10px;
}
.add-role-interface-btn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;
  height: 40px;
  box-shadow: 0px 4px 4px -4px rgba(24, 24, 28, 0.02), 0px 1px 2px rgba(24, 24, 28, 0.06);
  border-radius: 5px;
  gap: 8px;
  background: #105DFB;
  border: 1px solid #105DFB;
}
.add-role-interface-btn:hover:not(.cancelBtn , .disabled){
  background: #1650CF;
  cursor: pointer;
}
.cancelBtn{
  background: #FFFFFF;
  border: 1px solid #105DFB;
}
.cancelBtn:hover{
  background: #D7E3FC;
}
.cancelTxt{
  font-weight: 500;
  color: #105DFB;
}
.add-role-interface-btn-txt{
  font-weight: 500;
  color: #FFFFFF;
}
.disabled{
  background: #8D9CAD;
  border: none;
}
.category-actions-list{
  width: 100%;
}
