<div class="image-card" *ngIf="fileObject"  (click)="handleDisplayImage()">
  <div class="imageCard-image" *ngIf="hostname">
    <img  [src]="'http://'+hostname+':8100/files/object/'+fileObject.id || ''">
  </div>
  <div class="image-card-info">
    <div>
      <p class="name-txt" >ID {{fileObject.id}}</p>
      <app-state-tag [state]="fileObject.state"></app-state-tag>
    </div>
    <div>
      <p class="supInfo-txt" *ngIf="fileObject.fileName" >{{fileObject.fileName.split(".")[1] | uppercase}} - {{fileObject.size}}</p>
      <p class="supInfo-txt">{{fileObject.creationDate | date: 'dd/MM/yyyy'}} </p>
    </div>
  </div>
</div>
