<div class="file-card" *ngIf="fileObject"  (click)="handleDisplayFile()">
  <div class="fileCard-file" *ngIf="hostname">
    <img  [src]="fileUrl" *ngIf="fileType=='IMAGE'">
    <div class="video-file" *ngIf="fileType=='VIDEO'">
      <video  (mouseover)="playVideo()" (mouseleave)="pauseVideo()" #videoElement muted>
        <source [src]="fileUrl" type="video/mp4">
        <source [src]="fileUrl" type="video/ogg">
        <source [src]="fileUrl" type="video/webm">
      </video>
      <img src="assets/PlayIcon.svg">
    </div>
  </div>
  <div class="file-card-info">
    <div>
      <p class="name-txt" >ID {{fileObject.id}}</p>
      <app-state-tag [state]="fileObject.state"></app-state-tag>
    </div>
    <div>
      <p class="supInfo-txt" *ngIf="fileObject.fileName" >{{fileObject.fileName.split(".")[1] | uppercase}} - {{fileObject.size}}</p>
      <p class="supInfo-txt">{{fileObject.creationDate | date: 'dd/MM/yyyy'}} </p>
    </div>
  </div>
</div>
