<div class="imageLayout">
  <div class="imageLayout-header">
    <div class="imageLayout-Title">
      <p class="imageLayout-Title-text">Web / Images</p>
    </div>
    <app-upload-btn (fileUploaded)="onFileUploaded()" text="Importer un fichier" fileType="IMAGE"></app-upload-btn>
  </div>
  <div class="imageLayout-Body">
    <div class="imageLayout-Body-title">
      <p>Fichiers</p>
    </div>
    <div class="imageLayout-Body-card">
      <app-image-card  *ngFor="let fileObject of (fileObjects$ | async)" [fileObject]="fileObject" ></app-image-card>
    </div>
  </div>
</div>
