.fileInterface {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 72px 50px;
  overflow: hidden;
}

.fileInterface-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fileInterface-title-text,
.fileInterface-body-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 35px;
  color: #0B2866;
}

.fileInterface-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.fileInterface-body-title {
  font-size: 18px;
  line-height: 25px;
}

.fileInterface-body-card {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 18px;
}
