<div class="home-layout">
  <app-side-bar></app-side-bar>
  <div class="home-layout-content">
    <div class="home-layout-title">
      <app-page-title [title]="'Bonjour, ' + (getUserFullName() | titlecase) + ' !'"></app-page-title>
    </div>
    <div class="home-layout-card">
      <app-home-card [homeCardObject]="{icon:'assets/HomeIcon1.svg',number:(numberOfImages$ | async) ?? '0',text:'Nouvelles images'}"></app-home-card>
      <app-home-card [homeCardObject]="{icon:'assets/HomeIcon2.svg',number:(numberOfVideos$ | async) ?? '0',text:'Nouvelles vidéos'}"></app-home-card>
      <app-home-card [homeCardObject]="{icon:'assets/HomeIcon3.svg',number:(numberOfPictograms$ | async) ?? '0',text:'Nouveau picto'}"></app-home-card>
      <app-home-card [homeCardObject]="{icon:'assets/HomeIcon4.svg',number:(numberOfDocuments$ | async) ?? '0',text:'Nouveaux documents'}"></app-home-card>
    </div>

  </div>

</div>
